{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.content.label(class="form-control-label") }}
                {% if form.content.errors %}
                {{ form.content(class="form-control form-control-sg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.content.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.content(class="form-control form-control-sm heighttext") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-check">
            {{ form.label.label }}
            
            {{ form.label(style="list-style:none") }}
           
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
<div>
<h2 class="display-5">Last 10 Predictions</h2>

</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Review</th>
            <th scope="col">Prediction</th>
            <th scope="col">Probability</th>
            <th scope="col">Review_Label</th>
        </tr>
    </thead>
    <tbody>
        {% for r in reviews %}
            {% if r.prediction != r.label %}
                <tr class="table-danger">
                    <th scope="row">{{r.id}}</th>
                    <td>{{r.body}}</td>
                    <td>{{r.prediction}}</td>
                    <td>{{'%.1f' | format(r.probability)}}%</td>
                    <td>{{r.label}}</td>
                </tr>
            {% else %}
                <tr>
                    <th scope="row">{{r.id}}</th>
                    <td>{{r.body}}</td>
                    <td>{{r.prediction}}</td>
                    <td>{{'%.1f' | format(r.probability)}}%</td>
                    <td>{{r.label}}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>

{% endblock content %}